<p>
I began coding at age 12 when my friend and I started our own business making websites for local businesses.  Recently, I have added more advanced JavaScript, PHP, jQuery and Java ME skills to my repertoire.  Here are some recent projects of mine.
</p>
<h2>Repositories</h2>
<div id="github"></div>
<h2>Gists</h2>
<div id="gist"></div>