<p>
I started playing music at age 9 and haven't looked back.  Below are some samples of my creative work.  You will hear original compositions plus live performances and studio recordings of me playing trombone and guitar.  I hope you enjoy them.
</p>
<h2>My Jams</h2>
<div id="playlist">
</div>
{{#each this}}
<ul>
    <li>{{file}}</li>
    <li>{{title}}</li>
    <li>{{performer}}</li>
    <li>{{role}}</li>
</ul>
{{/each}}