<nav>
    <li class="select"><a id="blog" class="menuitem" href="/blog">blog</a></li>
    <li class="select"><a id="code" class="menuitem" href="/code">code</a></li>
    <li class="select"><a id="music" class="menuitem" href="/music">music</a></li>
    <li class="select"><a id="social" class="menuitem" href="/social">social</a></li>
</nav>