<nav>
    <li class="select"><a class="menuitem" href="#blog">blog</a></li>
    <li class="select"><a class="menuitem" href="#code">code</a></li>
    <li class="select"><a class="menuitem" href="#music">music</a></li>
    <li class="select"><a class="menuitem" href="#social">social</a></li>
</nav>