@font-face {
  font-family: mario3;
  src: url('../fonts/mario/Super-Mario-Bros--3.woff'), url('../fonts/mario/Super-Mario-Bros-3?#iefix') format('embedded-opentype'), url('../myfont-webfont.woff') format('woff'), url('../fonts/mario/Super-Mario-Bros--3.ttf') format('truetype'), url('../fonts/mario/Super-Mario-Bros-3.svg#svgFontName') format('svg');
}
.colorize:active,
.colorize:hover {
  background: #ffa500;
}
#music li,
#social li,
#code li {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  word-wrap: break-word;
}
#music ul,
#social ul,
#code ul {
  list-style: none;
  padding: 0;
}
#music ul:hover,
#social ul:hover,
#code ul:hover {
  background: #ddd;
}
#code h2 {
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;
}
#code .owner-info {
  font-family: mario3;
}
#code .updated {
  font-style: italic;
}
#code ul,
#code li {
  margin: 0 auto;
  text-align: center;
}
#code ul {
  border: 0.1em solid #888;
  padding: 0.2em;
}
#code li {
  padding: 0.25em 0;
}
#code #repos {
  float: left;
  margin-right: 0.5em;
  width: 48%;
}
#code #gists {
  float: left;
  margin-left: 0.5em;
  width: 48%;
}
#social ul {
  border-left: 1px solid #555;
  margin-bottom: 2em;
  padding-left: 1em;
}
#social .handle {
  clear: none;
  display: inline-block;
  font-family: mario3;
  margin-left: 0.5em;
  margin-right: 0.5em;
  vertical-align: baseline;
}
#social .network-icons {
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
}
#social .network-icon {
  display: inline-block;
  margin: 0 1em 1em 1em;
}
#blog h4,
#blog h5,
#blog h6 {
  font-family: mario3;
}
#blog nav {
  clear: both;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#blog nav.blog div a {
  color: #000;
  font-family: mario3;
}
#blog nav ul {
  list-style: none;
}
#blog #entries img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
#blog .tags {
  margin-bottom: 1em;
}
#blog .tags .tag {
  background: #ddd;
  color: #000;
  font-family: mario3;
  font-size: 0.8rem;
  margin-right: 1em;
  letter-spacing: -0.1em;
  white-space: nowrap;
}
#blog .post-list ul {
  border-left: 0.1em solid #555;
  clear: both;
  display: table;
  list-style: none;
  margin-left: 0;
  padding-left: 0.2em;
}
#blog .post-list ul:hover {
  background: #ddd;
}
#blog .post-list ul li {
  clear: none;
  display: table-cell;
  margin-top: 0.5em;
}
#blog .post-list ul .hero {
  max-height: 10em;
  width: 25%;
}
#blog .post-list ul .hero img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
#blog .post-list ul .text {
  padding-left: 1em;
  vertical-align: top;
  width: 75%;
}
#blog .post-list ul .text p,
#blog .post-list ul .text h4 {
  margin: 0.2em 0 0 0;
  padding: 0;
}
.avatar {
  height: 48px;
  width: 48px;
}
html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}
body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555;
  height: 100%;
  margin: 0;
  width: 100%;
}
#container {
  background: white;
  border: 0.125em solid #000;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  text-align: left;
  width: 50rem;
}
header {
  clear: both;
  margin: 0 auto;
  height: 6.25em;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}
header div {
  height: 5em;
  overflow: hidden;
  width: 16em;
}
header div img {
  height: 5em;
  width: 16em;
}
header div.center {
  background: #fff;
  float: left;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
header div.left {
  float: left;
  width: 33.3%;
}
header div.right {
  float: right;
  width: 33.3%;
}
article {
  height: auto;
  padding-left: 5em;
  padding-right: 5em;
}
article a:hover {
  text-decoration: underline;
}
article li {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}
div {
  margin: 0 auto;
}
div.bottom {
  clear: both;
  height: 2.5em;
  padding-top: 2em;
  text-align: center;
  width: 100%;
}
div.viewerwrapper {
  min-height: 91%;
  position: inherit;
  width: 40em;
}
div.vignette {
  margin: 0 auto;
  text-align: center;
}
div.code {
  margin: 0 0 3em 0;
}
#leftnav {
  display: inline;
  float: left;
  height: 5em;
  margin-top: 10em;
  vertical-align: middle;
  width: 1em;
}
#rightnav {
  display: inline;
  float: left;
  height: 5em;
  margin-top: 10em;
  vertical-align: middle;
  width: 1em;
}
#viewer {
  display: inline;
  float: left;
  min-height: 30em;
  width: 38em;
}
#navbar {
  float: left;
  font-size: 1.5rem;
  font-family: mario3;
  margin: 0 auto;
  min-height: 2.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  width: 100%;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar ul .select {
  color: #000;
  display: inline;
  padding: 0.25em;
  text-decoration: none;
  vertical-align: middle;
  width: 0.8em;
}
a {
  color: gray;
  text-decoration: none;
}
a.menuitem {
  color: #000;
  text-decoration: none;
}
a.menuitem:before {
  border-right: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 20px solid #000;
  content: '';
  display: inline-block;
  height: 0;
  visibility: hidden;
  width: 0;
}
a.menuitem.active:before,
a.menuitem:active:before,
a.menuitem:hover:before,
a.menuitem:focus:before {
  border-right: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 20px solid #000;
  content: '';
  display: inline-block;
  height: 0;
  visibility: visible;
  width: 0;
}
a.menuitem#blog.active:before,
a.menuitem#blog:active:before,
a.menuitem#blog:hover:before,
a.menuitem#blog:focus:before {
  border-left: 20px solid red;
}
a.menuitem#code.active:before,
a.menuitem#code:active:before,
a.menuitem#code:hover:before,
a.menuitem#code:focus:before {
  border-left: 20px solid blue;
}
a.menuitem#music.active:before,
a.menuitem#music:active:before,
a.menuitem#music:hover:before,
a.menuitem#music:focus:before {
  border-left: 20px solid green;
}
a.menuitem#social.active:before,
a.menuitem#social:active:before,
a.menuitem#social:hover:before,
a.menuitem#social:focus:before {
  border-left: 20px solid orange;
}
h1 {
  font-family: mario3;
  font-size: 2rem;
}
h2 {
  font-family: mario3;
  font-size: 1.3rem;
}
h3 {
  color: gray;
  font-family: mario3;
  font-size: 1.2rem;
}
p {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  vertical-align: middle;
}
p.foot {
  color: gray;
}
img {
  max-width: 100%;
}
audio {
  width: 100%;
}
pre {
  border-left: 0.1em solid #555;
  font-size: 1rem;
  overflow-x: auto;
  padding-left: 0.5em;
}
@media screen and (max-width: 750px) {
  nav .select:nth-child(2):after {
    content: '';
    display: block;
  }
}
/* =Smartphones (portrait)*/
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  #container {
    padding: 0;
  }
  article {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  nav .select:nth-child(2):after {
    content: '';
    display: block;
  }
  nav.blog {
    padding-bottom: 1em;
    padding-top: 1em;
  }
}
