#music, #social, #code {
    li {
        font-family: Monaco, Consolas, "Lucida Console", monospace;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

#social {
    ul {
        border-left: 1px solid #555;
        margin-bottom: 2em;
        padding-left: 1em;
    }
    .handle {
        clear: none;
        display: inline-block;
        font-family: mario3;
        margin-left: 0.5em;
        margin-right: 0.5em;
        vertical-align: baseline;
        width: 14em;
    }
}

#code {
    img {
        height: 5%;
        width: 5%;
    }
}