@import '../bower_components/font-awesome/less/font-awesome.less';

article {
    &.music,
    &.social,
    &.code {
        li {
            font-family: Monaco, Consolas, "Lucida Console", monospace;
            word-wrap: break-word;
        }
        ul {
            list-style: none;
            padding: 0;
            &:hover {
                background: #ddd;
            }
        }
    }
}

article.code {
    h2 {
        margin: 0 auto;
        padding-bottom: 1em;
        text-align: center;
    }
    .owner-info {
        font-family: mario3;
    }
    .updated{
        font-style: italic;
    }
    ul, li {
        margin: 0 auto;
        text-align: center;
    }
    ul {
        border: 0.1em solid #888;
        padding: 0.2em;
    }
    li {
        padding: 0.25em 0;
    }
    #repos {
        float: left;
        margin-right: 0.5em;
        width: 48%;
    }
    #gists {
        float: left;
        margin-left: 0.5em;
        width: 48%;
    }
}

article.social {
    ul {
        border-left: 1px solid #555;
        margin-bottom: 2em;
        padding-left: 1em;
    }
    .handle {
        clear: none;
        display: inline-block;
        font-family: mario3;
        margin-left: 0.5em;
        margin-right: 0.5em;
        vertical-align: baseline;
    }
    .network-icons {
        margin: 0 auto;
        padding-top: 1em;
        text-align: center;
    }
    .network-icon {
        display: inline-block;
        margin: 0 1em 1em 1em;
    }
}

article.blog {
    h4, h5, h6, {
        font-family: mario3;
    }
    .social-buttons {
        bottom: -32px;
        display: table;
        height: 32px;
        position: fixed;
        transition: bottom 1s;
        width: 36rem;
        @media screen and (max-width: 800px) {
            left: -1px;
            width: 100%;
        }
        &.show {
            bottom: 0;
        }
        div {
            background-color: rgba(0, 0, 0, 0.2);
            border: 1px 1px 0 0 solid #000;
            box-sizing: border-box;
            display: table-cell;
            height: 100%;
            position: relative;
            transition: background-color 300ms, color 300ms;
            width: 20%;
            &:hover,
            &:active {
                background-color: rgba(0, 0, 0, 1);
                color: #fff;
            }
            span {
                display: block;
                padding-top: 11px;
                text-align: center;
            }
        }
    }
    nav {
        clear: both;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        &.blog {
            div {
                a {
                    color: #000;
                    font-family: mario3;
                }
            }
        }
        ul {
            list-style: none;
        }
    }
    #entries {
        img {
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
    .tags {
        margin-bottom: 1em;
        .tag {
            background: #ddd;
            color: #000;
            font-family: mario3;
            font-size: 0.8rem;
            margin-right: 1em;
            letter-spacing: -0.1em;
            white-space: nowrap;
        }
    }
    .post-list {
        ul {
            border-left: 0.1em solid #555;
            clear: both;
            display: table;
            list-style: none;
            margin-left: 0;
            padding-left: 0.2em;
            &:hover {
                background: #ddd;
            }
            li {
                clear: none;
                display: table-cell;
                margin-top: 0.5em;
            }
            .hero {
                max-height: 10em;
                width: 25%;
                img {
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                }
            }
            .text {
                padding-left: 1em;
                vertical-align: top;
                width: 75%;
                p, h4 {
                    margin: 0.2em 0 0 0;
                    padding: 0;
                    // width: 100%;
                }
            }
        }
    }
}

.avatar {
    height: 48px;
    width: 48px;
}
