#music, #social, #code {
    li {
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        word-wrap: break-word;
    }
    ul {
        list-style: none;
        padding: 0;
        &:hover {
            background: #ddd;
        }
    }
}

#code {
    h2 {
        margin: 0 auto;
        padding-bottom: 1em;
        text-align: center;
    }
    .owner-info {
        font-family: mario3;
    }
    .updated{
        font-style: italic;
    }
    ul, li {
        margin: 0 auto;
        text-align: center;
    }
    ul {
        border: 0.1em solid #888;
        padding: 0.2em;
    }
    li {
        padding: 0.25em 0;
    }
    #repos {
        float: left;
        margin-right: 0.5em;
        width: 48%;
    }
    #gists {
        float: left;
        margin-left: 0.5em;
        width: 48%;
    }
}

#social {
    ul {
        border-left: 1px solid #555;
        margin-bottom: 2em;
        padding-left: 1em;
    }
    .handle {
        clear: none;
        display: inline-block;
        font-family: mario3;
        margin-left: 0.5em;
        margin-right: 0.5em;
        vertical-align: baseline;
    }
    .network-icons {
        margin: 0 auto;
        padding-top: 1em;
        text-align: center;
    }
    .network-icon {
        display: inline-block;
        margin: 0 1em 1em 1em;
    }
}

#blog {
    nav {
        display: flex;
    }
}

.avatar {
    height: 48px;
    width: 48px;
}